{% extends "layout2.html" %}

{% block title %}
    Readers-Hub-Review
{% endblock %}

{% block body %}
<div id="title">{{ username }}'s Review</div>
<div id="linkGroup">
    <div class="link"><a href="{{ url_for('main') }}">Home</a></div>
    <div class="link"><a href="{{ url_for('user') }}">User Info</a></div>
    <div class="link"><a href="{{ url_for('search') }}">Search</a></div>
    <div class="link"><a href="{{ url_for('api') }}">API</a></div>
</div>

<div id="blueBox">
    <div id="header"></div>
    <div class="contentTitle">{{title}}</div>
    <div class="pageContent">
    <form action="{{ url_for('success') }}" id="review">
        <p>Genuine reviews help the community thank you for your time!</p>
        <textarea rows="4" cols="50" name="review" form="review">Enter your review here...</textarea>
        <label for="rating">Rating: </label>
        <select id="rating" name="rating">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4 selected>4</option>
          <option value=5>5</option>
        </select>
        <input type="submit">
    </form>
    </div>
</div>
{% endblock %}