{% extends "layout2.html" %}

{% block title %}
    Readers-Hub-Search
{% endblock %}

{% block body %}
<div id="title">Book Catalogue</div>
<div id="linkGroup">
    <div class="link"><a href="{{ url_for('main') }}">Home</a></div>
    <div class="link"><a href="{{ url_for('user') }}">User Info</a></div>
    <div class="link"><a href="{{ url_for('search') }}">Search</a></div>
    <div class="link"><a href="{{ url_for('api') }}">API</a></div>
</div>

<div id="blueBox"> 
    <div id="header"></div>
    <div class="contentTitle">Search For Books.</div>
    <div class="pageContent">
        <p>Enter Title</p>
        <form class="example" action="{{ url_for('search') }}" style="margin:auto;max-width:300px" method="POST">
            <input type="text" placeholder="Search..." name="string">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        
        <p>{{ pls }}</p>
        {% for result in results %}
                <p>{{ result }}</p>
            {% else %}
                <p>Sorry No Results...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}