{% extends "layout2.html" %}

{% block title %}
    Readers-Hub-UserData
{% endblock %}

{% block body %}
<div id="title">Welcome {{ username }}!</div>
<div id="linkGroup">
    <div class="link"><a href="{{ url_for('main') }}">Home</a></div>
    <div class="link"><a href="{{ url_for('user') }}">User Info</a></div>
    <div class="link"><a href="{{ url_for('search') }}">Search</a></div>
    <div class="link"><a href="{{ url_for('api') }}">API</a></div>
</div>

<div id="blueBox"> 
    <div id="header"></div>
    <div class="contentTitle">Your Account details.</div>
    <div class="pageContent">
        <p>Username: {{username}}</p>
        <p>Number of reviews: 0</p>
        <p>Thank You for being an active user. Please continue browsing and keep the community alive!</p>
        <p><form action="/" method="POST"><input type="submit" value="LOG OUT"></form></p>
    </div>
</div>
{% endblock %}